@import "./variables.scss";
@import "./mixins.scss";

.container {
  margin: 100px 50px 30px;
  display: flex;
}

.result {
  position: relative;
  flex: 1;
  margin-left: 60px;
  
  &-loading {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &--title {
    text-align: center;
    min-height: 50px;
  }
  &--list {
    &:not(.complete) {
      > div:last-of-type {
        filter: blur(2px);
      }
    }
    .not-found {
      width: 100%;
      text-align: center;
      font-size: 2.3rem;
    }
  }
  &--button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    display: block;
    max-width: 350px;
    @include buttonPrimary();
  }
}