.container {
  margin: 100px 70px 30px;
  display: flex;
}

.filter {
  min-height: 600px;
  &--title {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.result {
  flex: 1;
  margin: 0 60px;
  &--title {
    text-align: center;
  }
}