$white: #fff;
$gray: #f9f9f9;
$dark-gray: #D4D4D4;
$black: #000;
$outline: #1e53fe;

$primary: #bd2626;
$primary-2: #ffc5c5;
$primary-3: #920D0D;

$secundary: #651111;
$complementary: #116565;
$tertiary: #7EDFDF;

$header-height: 70px;

$font-titles: 'Nunito';
