$white: #fff;
$gray: #f9f9f9;
$dark-gray: #d0d0d0;
$black: #000;

$primary: #bd2626;
$primary-2: #ffc5c5;
$primary-3: #651111;

$secundary: #651111;
$complementary: #116565;

$header-height: 70px;

$font-titles: 'Nunito';
