@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.work-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 40px auto;
  max-width: 485px;

  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 350px;
  transition: box-shadow ease 300ms;

  &:hover {
    box-shadow: rgba(149, 157, 165, 1) 0px 8px 24px;
  }

  .title {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
  }

  .pdf-container {
    margin: 0 auto;
    max-width: 300px;
  }
  
  .loading {
    height: 424px;
    width: 300px;
    @include loading();
  }
  
  .class {
    text-align: center;
    margin-top: 12px;
    font-size: 0.75rem;
  }
  .description {
    width: 100%;
    margin-top: 12px;

    h4 {
      text-align: center;
      font-size: 0.75rem;
    }

    p {
      max-height: 128px;
      margin-bottom: 0;
      overflow: hidden;
      overflow-y: auto;
      font-size: 0.75rem;
    }
  }

  .button-area {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    a {
      padding: 5px 0;
      width: 50%;
      text-align: center;

      font-weight: 600;
      background: $primary;
      color: $white;

      &:hover {
        filter: brightness(110%);
      }
    }
  }
}

.class-card {
  cursor: pointer;
  h4 {
    text-align: center;
  }

  .image {
    margin: auto;
    display: flex;
    justify-content: center;
    transition: 500ms;

    width: 300px;
    height: 300px;

    border: 5px solid rgb(24, 24, 24);
    background: rgb(201, 201, 201);

    h4 {
      margin: auto;
      color: $black;
      font-size: 1.125rem;
      padding: 0 10px;
    }
    p {
      font-size: 0.75rem;
      padding: 10px;
      color: white;
      display: block;
      opacity: 1;
      overflow-y: auto;
      max-height: 100%;

      height: auto;
      width: auto;
      margin: auto;
    }
    
    &:hover {
      background: rgb(24, 24, 24);
    }
  }
}
