@import "../../styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: $primary-3;
  color: $white;

  &__container {
    display: flex;
    justify-content: space-between;

    &--title {
      align-self: flex-start;
      font-size: 25px;
      padding: 0 20px;
      width: 25%;
    }

    &--search {
      flex: 1;
      margin: auto;
      margin-right: 25%;

      &__wrap {
        display: flex;
        width: 100%;
      }

      input {
        font-size: 18px;
        width: 100%;
        height: 40px;
        margin: auto;
        outline: none;
        border: none;
        padding: 0 10px;
      }
      svg {
        margin: auto 0;
        cursor: pointer;
        background: white;
      }
    }

    &--login {
      margin: auto 50px auto 50px;
      font-size: 20px;
      a {
        cursor: pointer;
      }
    }
  }
}
