@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.result-card {
  transition: box-shadow ease 300ms;
  border: 1px solid #959da504;
  box-shadow: 0px 8px 24px 0px #959DA533;
  margin-bottom: 30px;
  padding: 12px 24px 20px;

  &:hover {
    box-shadow: 0px 8px 24px 0px #959da5b8;
  }
 
  .pdf-container {
    max-width: 220px;
    width: 100%;

    @media screen and (max-width:768px){
      margin: auto auto 12px;
    }
  }

  .loading {
    width: 100%;
    height: 311px;
    @include loading();
  }

  h2 {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 12px;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  label {
    display: block;
    font-family: $font-titles;
    font-size: .75rem;
    font-weight: 600;
    margin: 8px 0;
  }

  &--description p {
    font-size: .688rem;
  }
  &--authors, &--tags {
    p {
      font-size: .688rem;
      padding: 2px 16px;
      border-radius: 2px;
    }
  }
  &--authors p {
    background: $tertiary;
  }
  &--tags p {
    background: $dark-gray;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  
  p {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    gap: 10px;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
