@import "../../styles/variables.scss";

.footer {
  margin-top: 100px;
  background: $secundary;
  height: 150px;

  @media screen and (max-width: 768px) {
    height: 100px;
    margin-top: 80px;
  }
}
