@import "../../styles/variables.scss";

.document {
  width: 100%;
}

.page {
  canvas {
    margin: auto;
    width: 100% !important;
    height: auto !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
}
